<div class="row">
  <div *ngFor="let gif of gifs" class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-dark">
      <!-- Cuando queremos decirle a Angular que el valor de algun atributo
      de algún elemento HTML es igual a una expresión de JavaScript, lo vamos
      a poner con llaves cuadradas -->
      <img
        [src]="gif.images.downsized_medium.url"
        [alt]="gif.title"
        class="card-img-top"
      >
      <div class="card-body text-white">
        <p class="card-text">
          {{ gif.title }}
        </p>
      </div>
    </div>
  </div>
</div>
